
.Post {
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .authorImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .authorInfo {
    display: flex;
    flex-direction: column;
  }
  
  .authorName {
    font-size: 1em;
    margin-bottom: 2px;
  }
  
  .authorUsername {
    font-size: 0.9em;
    color: gray;
  }
  
  .createdAt {
    font-size: 0.8em;
    color: gray;
  }
  
  .body {
    margin-bottom: 15px;
  }
  
  .title {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .text {
    font-size: 1em;
    margin-bottom: 15px;
    color: #333;
  }
  
  .postImage {
    width: 100%;
    max-height: 20rem;
    border-radius: 8px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e1e1e1;
    padding-top: 10px;
    margin-top: 10px;
  }
  
  .reactions {
    display: flex;
    gap: 10px;
  }
  
  .reactions img {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  
  .commentsCount {
    font-size: 0.9em;
    color: gray;
  }
  